<div ng-include="'template/nav.html'"></div>
<div class="container">
	
	<div class="row">
		
		<div class="col-md-6">
			<div class="panel panel-default" ng-controller="UserStatCtrl">
				  <div class="panel-heading">
						<h3 class="panel-title">User Statistics</h3>
				  </div>
				  <div class="panel-body">
						<canvas id="line" class="chart chart-line" chart-data="data"
						  chart-labels="labels" chart-legend="true" chart-series="series"
						  chart-click="onClick" >
						</canvas> 
				  </div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="panel panel-default" ng-controller="EventStatCtrl">
				  <div class="panel-heading">
						<h3 class="panel-title">Event Statistics</h3>
				  </div>
				  <div class="panel-body">
						<canvas id="line" class="chart chart-line" chart-data="data"
						  chart-labels="labels" chart-legend="true" chart-series="series"
						  chart-click="onClick" >
						</canvas> 
				  </div>
			</div>
		</div>

	</div>
</div>