<div ng-include="'template/nav.html'"></div>
	<div class="container">
		<div class="col-md-3">
			<ul class="list-group">
			  <li class="list-group-item" ng-class="{active: $state.includes('event.all')}">
			    <span class="badge">{{stat.event.all}}</span>
			   	<a  ui-sref="event.all"> Event All</a>
			  </li>
			  <li class="list-group-item" ng-class="{active: $state.includes('event.a')}">
			    <span class="badge">{{stat.event.a}}</span>
			    <a  ui-sref="event.a">Appoved</a>
			  </li>
			  <li class="list-group-item" ng-class="{active: $state.includes('event.u')}">
			    <span class="badge">{{stat.event.u}}</span>
			     <a  ui-sref="event.u">Unappoved</a>
			  </li>
			</ul>
		</div>
		<div class="col-md-9">
			<div ui-view></div>
		</div>
	</div>