		<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<input type="text" class="form-control" id="keyword" placeholder="ค้นหา" ng-model="keyword"> 
				</div>
		</div>
		</br>
		<div class="row">
		<div class="table-responsive">
			<table class="table table-striped table-hover " >
			 <tr>
			 	<th>#</th>
			 	<th>Name</th>
			 	<th>Description</th>
			 	<th>status</th>
			 	<th>lat</th>
			 	<th>lng</th>
			 	<th>date</th>
			 </tr>
			<tr dir-paginate="e in events | filter:keyword | itemsPerPage: 10" pagination-id="e">
			  	<td>{{  $index + 1 }}</td>
			 	<td>{{e.event_name}}</td>
			 	<td>{{e.event_description}}</td>
			 	<td>{{e.event_status}}</td>
			 	<td>{{e.event_lat}}</td>
			 	<td> {{e.event_lng}}</td>
			 	<td>{{e.created_at}}</td>
			 </tr>
			</table>
		</div>
		</div>

				<dir-pagination-controls pagination-id="e"></dir-pagination-controls>
