<div ng-include="'template/nav.html'"></div>
<div class="container">
	
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<input type="text" class="form-control" id="keyword" placeholder="ค้นหา" ng-model="keyword"> 
				</div>
			</div>
			<br>
			<div class="row">
			<div class="table-responsive">
			<table class="table table-striped table-hover " ng-controller="ModalHospitalCtrl">
			 <tr>
			 	<th>#</th>
			 	<th>Name</th>
			 	<th>Address</th>
			 	<th>lat</th>
			 	<th>lng</th>
			 	<td></td>
			 </tr>
			 <tr dir-paginate="h in listOfHospital | filter:keyword | itemsPerPage: 10" pagination-id="e">
			  	<td>{{  $index + 1 }}</td>
			 	<td>{{h.hospital_name}}</td>
			 	<td>{{h.hospital_address}}</td>
			 	<td>{{h.hospital_lat}}</td>
			 	<td>{{h.hospital_lng}}</td>
			 	<td> 
			 	<button class="btn btn-success btn-sm" ng-click="openMap('lg',h)"><i class="fa fa-map-marker"></i></button> 
			 	<button class="btn btn-info btn-sm" ng-click="open('lg',h)"><span class="glyphicon glyphicon-pencil"></span></button> <button class="btn btn-danger btn-sm" ng-click="removeHospital(h.hospital_id)"><span class="glyphicon glyphicon-remove"></span></button> </td>
			 </tr>
			</table> 
			</div>
			</div>
			<dir-pagination-controls pagination-id="e"></dir-pagination-controls>
		</div>							
		<div class="col-md-5">
			<form class="form-horizontal">
			  <fieldset>
			    <legend> Create Hospital_Form</legend>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-3 control-label">Hospital name</label>
			      <div class="col-lg-9">
			        <input type="text" class="form-control" ng-model="hospital.hospital_name">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="textArea" class="col-lg-3 control-label">Hospital address</label>
			      <div class="col-lg-9">
			        <textarea class="form-control" rows="3" ng-model="hospital.hospital_address"></textarea>
			        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-3 control-label">Hospital Lat</label>
			      <div class="col-lg-9">
			        <input type="text" class="form-control" ng-model="hospital.hospital_lat">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-3 control-label">Hospital Lng</label>
			      <div class="col-lg-9">
			        <input type="text" class="form-control" ng-model="hospital.hospital_lng">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-9 col-lg-offset-3">
			        <button type="reset" class="btn btn-default">Cancel</button>
			        <button type="submit" class="btn btn-primary" ng-click="addHospital()">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>	
	</div>
</div>

