        <div class="modal-header">
            <h3 class="modal-title">Update Hospital Infomation</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>
                <legend> Hospital_Detail</legend>
                <div class="form-group">
                  <label for="inputEmail" class="col-lg-3 control-label">Hospital name</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" ng-model="hospital.hospital_name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="textArea" class="col-lg-3 control-label">Hospital address</label>
                  <div class="col-lg-9">
                    <textarea class="form-control" rows="3" ng-model="hospital.hospital_address"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-lg-3 control-label">Hospital Lat</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" ng-model="hospital.hospital_lat">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-lg-3 control-label">Hospital Lng</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" ng-model="hospital.hospital_lng">
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>