        <div class="modal-header">
            <h3 class="modal-title">Location Of  {{hospital.hospital_name}} </h3>
        </div>
        <div class="modal-body">
        	<button class="btn btn-default btn-sm" ng-click="reloadmap()"><i class="fa fa-repeat"></i> reload map</button>
        	<ng-map center="{{hospital.hospital_lat}},{{hospital.hospital_lng}}" zoom="15" ng-if="render">
		    	<marker position="{{hospital.hospital_lat}},{{hospital.hospital_lng}}" 
		    			title="{{hospital.hospital_name}}" 
		    			animation="Animation.BOUNCE"></marker>
		  </ng-map>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
        </div>