<nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ITSx ControlPanel</a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active: $state.includes('dash')}"><a href="#/">Dashbord</a></li>
				<li ng-class="{active: $state.includes('hospital')}"><a href="#/hospital">Hospital</a></li>
				<li ng-class="{active: $state.includes('event')}"><a href="#/event/all">Event</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"> {{user.email}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a  ng-click="logout()">logout</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>