<div class="container">
	
<!-- <div ng-include="'template/nav.html'"></div>
 -->
<div class="row" style="padding-top:7%">
	
	<div class="col-md-8 col-md-offset-2">
		<form class="form-horizontal">
			
		<fieldset class="well bs-component" style="    margin: 15%;">
			<div class="alert alert-dismissible alert-danger" ng-show="isError">
			  <strong>Oh snap!</strong> <a href="#" class="alert-link">Please check email or password</a> and try submitting again.
			</div>
			<h2 align="center">Login</h2>
			<br/>
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="textinput">Email</label>  
			  <div class="col-md-8">
			  <input type="text" placeholder="Email" class="form-control input-md" required ng-model="user.email">
			    
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="Password">Password</label>
			  <div class="col-md-8">
			    <input type="password" placeholder="Password" class="form-control input-md" required ng-model="user.password">
			    
			  </div>
			</div>

			<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="singlebutton"></label>
				  <div class="col-md-4">
				    <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="login()" ng-disabled="user.email == null || user.password == null ">submit</button>
				  </div>
				</div>

		</fieldset>
		</form>
	</div>






</div>
	
</div>